{cover_enabled, true}.
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git"}},
  {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git"}},
  {eredis, ".*", {git, "git://github.com/wooga/eredis.git"}}
]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{erl_opts, [
%%	bin_opt_info,
%%	warn_missing_spec,
    {parse_transform, lager_transform},
    {lager_truncation_size, 10485760},
	warnings_as_errors,
	warn_export_all
]}.
